<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.shirj.api.dao.AccountDAO">

    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->
    <select id="getById" resultType="Account">
        SELECT *
        FROM T_ACCOUNT
        WHERE ACCOUNT_ID = #{id}
          AND REMOVE_TAG = '0';
    </select>

    <insert id="save"
            keyProperty="accountId"
            useGeneratedKeys="true"
            parameterType="Account">
        INSERT INTO T_ACCOUNT
        <trim prefix="(USER_ID, TAG," suffix=" CREATE_TIME)">
            <if test="accountName != null">ACCOUNT_NAME,</if>
            <if test="balance != null">BALANCE,</if>
            <if test="remark != null">REMARK,</if>
            <if test="isTotal != null">IS_TOTAL,</if>
            <if test="rsrvTime1 != null">RSRV_TIME1,</if>
        </trim>
        VALUES
        <trim prefix="(#{userId}, #{tag}," suffix=" #{createTime});">
            <if test="accountName != null">#{accountName},</if>
            <if test="balance != null">#{balance},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isTotal != null">#{isTotal},</if>
            <if test="rsrvTime1 != null">#{rsrvTime1},</if>
        </trim>
    </insert>
</mapper>