<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.shirj.api.dao.TradeDAO">

    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->
    <select id="getById" resultType="Trade">
        SELECT *
        FROM T_TRADE
        WHERE TRADE_ID = #{id};
    </select>

    <select id="getStat" resultType="java.util.HashMap">
        SELECT SUM(T.TRADE_AMOUNT) AS AMOUNT, T.TRADE_TYPE FROM T_TRADE T
        WHERE T.USER_ID = #{id}
          AND T.ACCEPT_MONTH = MONTH(SYSDATE())
          AND YEAR(T.TRADE_TIME) = YEAR(SYSDATE())
        GROUP BY TRADE_TYPE;
    </select>
</mapper>