<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.shirj.api.dao.UserDAO">

    <!--id应该是接口中的方法，结果类型如没有配置别名则应该使用全名称 -->
    <select id="getById" resultType="User">
        SELECT *
        FROM T_USER
        WHERE USER_ID = #{id}
          AND REMOVE_TAG = '0';
    </select>

    <select id="getByUsername" resultType="User">
        SELECT *
        FROM T_USER
        WHERE USER_NAME = #{username};
    </select>

    <insert id="save"
            keyProperty="userId"
            useGeneratedKeys="true"
            parameterType="User">
        INSERT INTO T_USER(USER_NAME, PASSWORD, E_MAIL, CREATE_TIME, UPDATE_TIME)
        VALUES (#{username}, #{password}, #{eMail}, #{createTime}, #{updateTime});
    </insert>
</mapper>